# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# Build outputs
dist/

# Prisma
prisma/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
.nyc_output/

# Docker
pgdata/

# Misc
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Temporary
tmp/
_trash_*/
